name: docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - pytorch_version: "2.6.0"
            cuda_version: "12.4"
          - pytorch_version: "2.10.0"
            cuda_version: "13.1"
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/.ghcup
          df -h

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          file: .docker/Dockerfile
          build-args: |
            PYTORCH_VERSION=${{ matrix.pytorch_version }}
            CUDA_VERSION=${{ matrix.cuda_version }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            roboreg:cuda-${{ matrix.cuda_version }}
            ghcr.io/lbr-stack/roboreg:cuda-${{ matrix.cuda_version }}
