name: docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          file: .docker/Dockerfile
          build-args: |
            UBUNTU_VERSION=24.04
            CUDA_VERSION=13.1.0
            ROS_DISTRO=jazzy
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            roboreg:latest
            ghcr.io/lbr-stack/roboreg:latest
